@use "partials/variables" as *;
@use "partials/typography" as *;
@use "partials/global";



//header section//
.header {
  display: flex;
  font-family: "Avenir demi";

  &__picture {
    width: 100%;
    filter: brightness(60%);
    @include desktop{
      height:auto;
    }
  }

  &__text {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 11vh;
    padding-left: 5vh;

    @include tablet {
      // top: 45%;
      // right: 60%;
      font-size: 5.5rem;
      padding-top:22rem;


    }
    @include desktop{
      padding-left:12rem;
      font-size:4.5rem;
    }
  }
}

//main section//
.description {
  padding: 3vw;

  @include tablet {
    line-height: 22px;
  }
  @include desktop{
    width:1020px;
    
    margin:auto;
  }

  &__title {
    margin: 0;
    
    font-size: 2rem;
    font-family: Avenir demi;
    font-weight: 400;
    color: #323232;
    @include desktop{
      font-size:3rem;
      padding-bottom: 3rem;
     margin-right:3rem;
    }
  }

  &__picture {
    max-width: 100%;

    @include desktop {
      width: 90%;
      
    }
  }

  &__main-content--demi {
    font-size: 1.2rem;
    line-height: 30px;
    color: #323232;
    font-family: Avenir demi;
    font-weight: 400;

    @include desktop {
      font-size: 1.3rem;
     
      width: 80%;

    }
  }

  &__main-content--title {
    font-size: 1.2rem;
    color: black;
    padding: 4vh 0;
    font-family:"Avenir demi";
   @include tablet{
    font-size: 2rem;
    padding-left:2vw;
   }

    @include desktop {
      font-size: "Avenir bold";
      font-size: 2rem;
      color: black;
      padding: 4vh 0;
    }
  }

  &__main-content {
    font-family: "Avenir regular";
    color:#323232;
    font-size: 1.1rem;
    line-height: 25px;
    padding-bottom: 5vh;

    @include tablet {
      padding-right: 2vw;
      display: flex;
      line-height: 25px;
      font-size: 1.2rem;
    }

    @include desktop {
      line-height: 29px;
      font-size: 1.3rem;
      padding-bottom: 2vh;
      margin: 0;
      
    }
  }
}

.main-content {
  line-height: 18px;
  @include tablet {
    display: flex;
    padding: 3vw 0;
    line-height: 22px;
    
  }
}

.gallery {
  background-color: #fafafa;
  padding: 3vw;

  @include tablet {
    max-width: 100%;
  }
  @include desktop{
    
    
    
  }

  &__title {
    font-family: Avenir demi;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 4vh;
    color: #323232;

  }

  &__image {
    width: 100%;
    margin-bottom: 2vh;

    @include tablet {
      display: inline-block;
      width: 29%;
      margin-left: 3vw;
    }
  }
}

//form section
main {
  padding-left: 5vw;
}

.form {
  display: flex;

  padding-left: 5vw;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 5vh;

  @include desktop {
    
    width:1020px;
    
    margin:auto;
  }



  &__image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    @include tablet{
      width:5rem;
      height:5rem;
    }
  }

  &__username-input {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__username {
    border-radius: 4px;
    height: 5vh;
    border: 1px solid #afafaf;
    background-color: #E1E1E1;
    color: BLACK;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
      width: 70%;
    }

    &::placeholder {
      color: #323232;
      text-align: 1% 1%
    }
  }

  &__input-text {
    border-radius: 4px;
    height: 15vh;
    border: 1px solid #afafaf;
    background-color: #E1E1E1;
    color: #323232;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desktop {
      width: 70%
    }

    &::placeholder {
      color: #323232;
      text-align: left start;
    }
  }


  &__text-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: space-between;


  }

  &__title {
    color: #323232;
    font-family: Avenir demi;
    font-size: 5vh;

    @include desktop {
      margin-left: 5vw;
    }
  }

  &__name {
    color: #afafaf;
    display: flex;
    flex-direction: column;
    padding-bottom: 3vh;

  }

  &__text {
    color: #afafaf;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    font-size:1rem;
    font-family:"Avenir Next";

  }

  &__button {
    background-color: #323232;
    color: white;
    border: none;
    height: 6vh;
    border-radius: 4px;

    width: 100%;

    @include tablet {
      width: 30%;
    }

    @include desktop {
      width: 30%;
    }
  }

  &__button-box {
    display: flex;
    justify-content: end;

    @include desktop {
      width: 70%;
    }

  }
}



input {
  text-align: left;
  text-align: start;
}

//comment section
.comment-list {
  @include desktop {
   
    width:1020px;
    
    margin:auto;
  }
}

.comment {
  display: flex;
  border-bottom: 1px solid #afafaf;
  margin: 5vw;

  @include desktop {
    width: 70%;
  }

  &__image {
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
    @include tablet{
      width:5rem;
      height:5rem;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__username {
    color: #323232;
    font-family: Avenir demi;
  }

  &__date {
    color: #afafaf;
    font-family: Avenir Demi;
  }

  &__text {
    color: black;
    font-family: Avenir regular;
  }

  &__content {
    flex: 1;
    padding: 0 2rem;
  }
}


