@font-face {
  font-family: "Avenir bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: "Avenir Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: "Avenir Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color: #afafaf;
  text-decoration: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .nav {
    padding-left: 13vw;
  }
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: #323232;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .nav__list {
    justify-content: initial;
    width: auto;
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
.nav__hyperlink {
  padding-top: 2vh;
  color: white;
  width: 50%;
}
@media (min-width: 768px) {
  .nav__hyperlink {
    padding: 0;
    width: 13rem;
  }
}
.nav__title {
  width: 100%;
  height: auto;
}
.nav__item {
  font-family: Avenir Regular;
  font-weight: 400;
  flex: 1;
  text-align: center;
  background-color: #323232;
  padding: 2rem 0;
  color: #afafaf;
  font-size: 1.5rem;
}
.nav__item--selected {
  border-bottom: 0.2rem solid white;
  color: white;
  font-weight: 600;
}
@media (min-width: 768px) {
  .nav__item {
    flex: 0;
    margin-left: 5rem;
  }
}
@media (min-width: 1280px) {
  .nav__item {
    margin-left: 3rem;
    font-size: 1rem;
  }
}

.footer {
  background-color: #323232;
  color: white;
  margin-top: 5vw;
  padding-left: 5vw;
}
@media (min-width: 768px) {
  .footer__title {
    display: flex;
  }
}
.footer__fb {
  margin-right: 10vw;
  height: 4vh;
}
@media (min-width: 768px) {
  .footer__fb {
    display: flex;
    margin-right: 5vw;
  }
}
.footer__ins {
  margin-right: 10vw;
  height: 4vh;
}
@media (min-width: 768px) {
  .footer__ins {
    display: flex;
    margin-right: 5vw;
  }
}
.footer__twi {
  height: 4vh;
}
@media (min-width: 768px) {
  .footer__twi {
    display: flex;
    margin-right: 10vh;
  }
}
.footer__apps {
  display: flex;
  justify-content: space-between;
  padding-left: 15vw;
}
@media (min-width: 768px) {
  .footer__social-media {
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
  }
}
.footer__contact {
  font-size: 2.5rem;
  padding-top: 2rem;
  font-family: "Avenir demi";
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .footer__contact {
    font-size: 2.5rem;
    padding-right: 4rem;
  }
}
@media (min-width: 768px) {
  .footer__main {
    display: flex;
    justify-content: space-between;
  }
}
.footer__content {
  font-size: 1.5rem;
  font-family: Avenir regular;
}
@media (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-evenly;
  }
}
.footer__content--bold {
  font-size: 1.5rem;
  font-family: Avenir demi;
  font-weight: 600;
}
@media (min-width: 768px) {
  .footer__content--bold {
    padding: 0;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.footer__group {
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .footer__group {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}
.footer__bandname {
  margin-top: 10vh;
  color: white;
  width: 50%;
}
@media (min-width: 768px) {
  .footer__bandname {
    display: none;
  }
}
.footer__bandname--hidden {
  display: none;
}
@media (min-width: 768px) {
  .footer__bandname--hidden {
    display: inline-block;
    height: 30%;
  }
}
@media (min-width: 768px) {
  .footer__manage {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .footer__booking {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) {
  .footer__entertainment {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.copyright {
  font-family: Avenir regular;
  font-size: 1.2rem;
  padding: 5vh 0;
}
@media (min-width: 768px) {
  .copyright {
    padding-top: 7vh;
  }
}

.header {
  display: flex;
  font-family: "Avenir demi";
  position: relative;
}
@media (min-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.header__soundtrack {
  position: absolute;
  height: 20%;
  margin-top: 23vh;
}
@media (min-width: 768px) {
  .header__soundtrack {
    margin-top: 23vh;
    width: 60%;
    padding-left: 5vw;
  }
}
@media (min-width: 1280px) {
  .header__soundtrack {
    width: 40%;
    margin: 0;
    right: 5%;
    top: 45%;
  }
}
.header__song {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  top: 3rem;
  left: 1rem;
  width: 85%;
}
@media (min-width: 768px) {
  .header__song {
    top: 30%;
    font-size: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .header__song {
    font-size: 4.5rem;
    width: 50%;
  }
}
.header__picture {
  width: 100%;
  filter: brightness(60%);
}
.header__title {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  top: 1rem;
  left: 1rem;
}
@media (min-width: 768px) {
  .header__title {
    top: 20%;
    font-size: 2.5rem;
  }
}
.main {
  padding-top: 5vh;
  margin-left: 4%;
}
@media (min-width: 1280px) {
  .main {
    margin: 0 10vw 0 30vw;
  }
}
.main__title {
  font-family: Avenir demi;
  color: black;
  padding-left: 0vw;
  font-size: 2rem;
}
.main__heading {
  display: none;
}
@media (min-width: 768px) {
  .main__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Avenir demi;
    color: #afafaf;
    font-size: 1rem;
  }
}
.main__show-div {
  border-bottom: 1px solid #afafaf;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 45vh;
}
.main__show-div:hover {
  background-color: #fafafa;
}
.main__show-div.clicked {
  background-color: #e1e1e1;
}
@media (min-width: 768px) {
  .main__show-div {
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
  }
}
.main__date {
  font-family: Avenir demi;
  color: #afafaf;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .main__date {
    display: none;
  }
}
.main__date--detail {
  font-family: "Avenir demi";
  font-size: 1.1rem;
}
@media (min-width: 1280px) {
  .main__date--detail {
    color: #323232;
  }
}
.main__venue--detail {
  font-size: 1.3rem;
  color: black;
  font-family: "Avenir regular";
  font-weight: 500;
}
@media (min-width: 768px) {
  .main__venue--detail {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .main__venue--detail {
    font-size: 1rem;
    font-family: "Avenir regular";
    color: #323232;
  }
}
.main__venue {
  font-family: "Avenir demi";
  color: #afafaf;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .main__venue {
    display: none;
  }
}
.main__location {
  font-family: Avenir demi;
  color: #afafaf;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .main__location {
    display: none;
  }
}
.main__location--detail {
  color: black;
  font-family: "Avenir regular";
  font-weight: 500;
}
@media (min-width: 768px) {
  .main__location--detail {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .main__location--detail {
    font-size: 1rem;
    font-family: "Avenir regular";
    color: #323232;
  }
}
.main__button {
  color: white;
  background: #323232;
  border: none;
  border-radius: 4px;
  width: 95%;
  height: 100%;
  font-family: Avenir demi;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .main__button {
    width: 100%;
  }
}
.main__button-div {
  height: 8vh;
}
@media (min-width: 768px) {
  .main__button-div {
    width: 20vw;
    margin: 0.5rem;
    margin-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .main__button-div {
    width: 15vw;
  }
}
@media (min-width: 768px) {
  .main__date-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .main__venue-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .main__location-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.heading__text {
  flex: 1;
}/*# sourceMappingURL=shows.css.map */