@use "partials/variables" as *;
@use "partials/typography" as *;
@use "partials/global";

//header section//
.header {
  display: flex;
  font-family: "Avenir demi";
  position: relative;

  @include tablet {
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__soundtrack {
    position: absolute;

    height: 20%;
    margin-top: 23vh;

    @include tablet {
      margin-top: 23vh;
      width: 60%;
      padding-left: 5vw;
    }

    @include desktop {
      width: 40%;
      margin: 0;
      right: 5%;
      top: 45%;
    }
  }

  &__song {
    position: absolute;
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    top: 3rem;
    left: 1rem;
    width: 85%;

    @include tablet {
      top: 30%;
      font-size: 3.5rem;
    }

    @include desktop {
      font-size: 4.5rem;
      width: 50%;
    }
  }

  &__picture {
    width: 100%;
    filter: brightness(60%);
  }

  &__title {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    top: 1rem;
    left: 1rem;

    @include tablet {
       top: 20%;
      // right: 60%;
      font-size: 2.5rem;
    }

    @include desktop {
      // top: 27%;
      // right: 62%;
    }
  }
}

//css for buy ticket
.main {
  padding-top: 5vh;
  margin-left: 4%;

  @include desktop {
    margin: 0 10vw 0 30vw;
  }

  &__title {
    font-family: Avenir demi;
    color: black;
    padding-left: 0vw;
    font-size: 2rem;
  }

  &__heading {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: Avenir demi;
      color: #afafaf;
      font-size: 1rem;
    }
  }

  &__show-div {
    border-bottom: 1px solid #afafaf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 45vh;
    &:hover {
      background-color: pink;
    }

   &.clicked {
      background-color: aqua;
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      height: 10vh;
      justify-content: space-between;
    }
  }

  &__date {
    font-family: Avenir demi;
    color: #afafaf;
    font-size: 1rem;

    @include tablet {
      display: none;
    }
  }

  &__date--detail {
    font-family: Avenir demi;
    font-size: 1.1rem;
  }

  &__venue--detail {
    font-family: Avenir regular;
  }

  &__venue {
    font-family: Avenir demi;
    color: #afafaf;
    font-size: 1rem;

    @include tablet {
      display: none;
    }
  }

  &__location {
    font-family: Avenir demi;
    color: #afafaf;
    font-size: 1rem;

    @include tablet {
      display: none;
    }
  }

  &__location--detail {
    font-family: Avenir regular;
  }

  &__button {
    color: white;
    background: #323232;
    border: none;
    border-radius: 4px;
    width: 95%;
    height: 100%;
    font-family: Avenir demi;
    font-size: 1.2rem;

    @include tablet {
      width: 100%;
    }
  }

  &__button-div {
    height: 8vh;

    @include tablet {
      width: 20vw;
    }
  }

  &__date-div {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__venue-div {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__location-div {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.heading__text {
  flex: 1;
}

